/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



$color_primary: #1A7F2A;
$color_background: lighten($color_primary, 40%);



// see https://raw.githubusercontent.com/twbs/bootstrap/v4-dev/scss/_variables.scss

$primary:       green;
// $secondary:     $gray-600;
// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
// $light:         $gray-100;
// $dark:          $gray-800;

@import "bootstrap";




* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    overflow-x: hidden;
}

body.home:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
    background-color: $color_background;
    background-image: image_url("background.png");
    background-size: 230vh;
    background-repeat-y: no-repeat;
    background-position-y: bottom;
    background-position-x: 25%;
}

body.home .background-hack {
    height: 100vh;
    position: fixed;
    top:0;
    z-index: -9999;
    width: 100%;
    background-color: #005d00; 
}

// body.home .background-hack { background-color: #005d00; }
// body.home:after { background-color: $color_background; }


@keyframes naam {
    0% {
        filter: sepia(0.9) saturate(0.9);
        -webkit-filter: sepia(0.9) saturate(0.9);
    }
    50% {
        filter: sepia(1.1) saturate(1.1);
        -webkit-filter: sepia(1.1) saturate(1.1);
    }
    100% {
        filter: sepia(0.9) saturate(0.9);
        -webkit-filter: sepia(0.9) saturate(0.9);
    }
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: bolder;
    letter-spacing: 1px;
}

.btn {
    font-weight: bolder;
    letter-spacing: 1px;    
}


h1, .h1 { font-size: 6.5em; color: white; }
h2, .h2 { font-size: 5em; }
h3, .h3 { font-size: 3em; }
h4, .h4 { font-size: 2em; }
h5, .h5 { font-size: 1em; }
p { font-size: 18px; }

.bg-primary { background-color: $color_primary; }
.c-white { color: #fff; }
.c-primary { color: $color_primary; }


.welcome {
    p {
        color: white;
        font-size: 22px;
    }

    .btn {
        font-size: 22px;
    }
    .btn-primary {
        color: $color_primary;
        background-color: #ffffffa0;
        border-color: transparent;
        margin-right: 20px;
    }
    .btn-ghost {
        border-color: white;
        color: white;
    }
}


.notice {
    background-color: #e7e7e770;
    color: red;
}

.alert {
    background-color: red;
    color: white;
}

.container {
    margin-top: 3em;
}

.panel{
    background-color: white;
    border: 5px solid $color_primary;

    h1, h2, h3 {
        text-align: center;
    }
}

.btn {
    padding: 10px 30px;
    border-radius: 10px;
}

.btn-primary,
.btn-ghost {
    border: 2px solid green;
}


#map-overview {
    position: fixed;
    height: 100vh;
    width: 50%;
    top: 0;
    background-color: #73b6e6;
}

#map-show {
    position: fixed;
    right: 0;
    height: 100vh;
    width: 50%;
    top: 0px;
}

nav {
    z-index: 99;
}

.leaflet-control-container {
    display: none !important;
}


.message-colored-item {
    background-color: #d8d8d8;
    box-shadow: 4px -4px 10px 0px #5c5c5c;
    padding: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

nav img {
    width: 115px;
    margin-right: 15px;
}